.easySubscriptionWidget {
  position: relative;
  width: 100%;
}
.easySubscriptionWidget .easySubscriptionWidgetIn {
  padding: 20px 0;
}
.easySubscriptionWidget .easySubscriptionWidgetIn button.button {
  background-color: #2D292A;
  border-color: #2D292A;
  color: #fff;
  font-size: 16px;
  padding: 12px 30px;
}
.easySubscriptionWidgetIn .easySubscriptionWidgetModel,
.easySubscriptionWidgetIn .easySubscriptionSubscriptionModel {
  position: relative; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba( 255, 255, 255, 0.8 );
  z-index: 99999999;
  overflow:auto;
}
.easySubscriptionWidgetIn .easySubscriptionSubscriptionModel{
  z-index: 999999999;
  background-color: rgba( 255, 255, 255, 0.90 );
}
.easySubscriptionWidgetModel .easySubscriptionWidgetModelInner,
.easySubscriptionWidgetIn .easySubscriptionSubscriptionModel .easySubscriptionSubscriptionModelInner {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  background-color:#F6F6F8;
  border: 1px solid #eee;
  margin-top: 30px;
}
.easySubscriptionWidgetModel .easySubscriptionWidgetModelInner .easySubscriptionWidgetModelInnerTitle h3.title,
.easySubscriptionWidgetIn .easySubscriptionSubscriptionModel .easySubscriptionSubscriptionModelInner .easySubscriptionWidgetModelInnerTitle h3.title {
  margin: 0;
  font-size: 24px;
}
.easySubscriptionWidgetModel .easySubscriptionWidgetModelInner .easySubscriptionWidgetModelInnerTitle,
.easySubscriptionWidgetIn .easySubscriptionSubscriptionModel .easySubscriptionSubscriptionModelInner .easySubscriptionWidgetModelInnerTitle {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.easySubscriptionWidgetModel .easySubscriptionWidgetModelInner .easySubscriptionWidgetModelIn {
  position: relative;
  width: 100%;
}
.easySubscriptionWidgetModel .easySubscriptionWidgetModelInner .easySubscriptionWidgetModelIn .easySubscriptionWidgetModelInstatusfilters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #222;
}
.easySubscriptionWidgetModel .easySubscriptionWidgetModelInner .easySubscriptionWidgetModelIn .easySubscriptionWidgetModelInstatusfilters span.easySubscriptionlinks {
  line-height: 1em;
  padding-bottom: 2px;
  border-bottom: 2px solid;
  cursor: pointer;
}
.easySubscriptionWidgetModel .easySubscriptionWidgetModelInner .easySubscriptionWidgetModelIn .easySubscriptionWidgetModelInstatusfilters span.easySubscriptionlinks.active {
  color: #2D292A;
}
.easySubscriptionWidgetModelIn .easySubscriptionWidgetModelInLineItems {
  width: 100%;
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.easySubscriptionWidgetModelIn .easySubscriptionWidgetModelInLineItems .easySubscriptionLineItems {
  position: relative;
  width: 100%;
  color:#222;
}
.easySubscriptionWidgetModelIn .easySubscriptionWidgetModelInLineItems .easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsHead {
  width: 100%;
  position: relative;
  padding-bottom: 15px;
}
.easySubscriptionWidgetModelIn .easySubscriptionWidgetModelInLineItems .easySubscriptionLineItems {
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
}
.easySubscriptionWidgetModelIn .easySubscriptionWidgetModelInLineItems .easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsHead .easySubbscriptionTitle,
.easySubscriptionSubscriptionModelInner .easyCustomerSubscriptionStatus .easySubbscriptionTitle {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
span.status-ACTIVE,
span.status-PAUSED,
span.status-CANCELLED {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #6bf88b;
  border-radius: 20px;
  margin-left: 10px;
}
span.status-PAUSED{
  background-color: #f7f94e;
}
span.status-CANCELLED{
  background-color: #fa5044;
}
.easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetails {
  position: relative;
  display: flex;
}
.easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetails .easySubscriptionWidgetModelInLineitemsDetailsIn {
  width: 100%;
  max-width: 20%;
  box-sizing: border-box;
  padding-right: 20px;
}
.easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetails .easySubscriptionWidgetModelInLineitemsDetailsIn:nth-child(1),
.easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetails .easySubscriptionWidgetModelInLineitemsDetailsIn:nth-child(2) {
  max-width: 30%;
}
.easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetails .easySubscriptionWidgetModelInLineitemsDetailsIn:last-child {
  padding-right: 0;
}
.easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetailsIn {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetailsIn .easySubscriptionWidgetModelInLineitemsImg {
  width: 100%;
  max-width: 80px;
  display: flex;
}
.easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetailsIn .easySubscriptionWidgetModelInLineitemsImg img {
  width: 100%;
}
.easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetailsIn .easySubscriptionWidgetModelInLineitemsPriceDetails {
  width: 100%;
  max-width: calc( 100% - 80px );
  padding-left: 10px;
}
.easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetailsIn .easySubscriptionWidgetModelInLineitemsPriceDetails > label {
  font-weight: 600;
  font-size: 16px;
}
.easySubscriptionWidgetModelInLineitemsPriceDetails .easySubscriptionProductPriceQuantity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.easySubscriptionWidgetModelInLineitemsPriceDetails .easySubscriptionProductPriceQuantity > div {
  width: 100%;
  max-width: 100%;
}
.easySubscriptionSubscriptionModelInner .easyCustomerSubscriptionStatus label.easyCustomerSubscriptionStatusNextOrder {
  font-size: 20px;
  display: block;
}
.easySubscriptionSubscriptionModelInner .easyCustomerSubscriptionStatus .easySubbscriptionTitle{
  padding-top: 20px;
}
.easySubscriptionSubscriptionModelIn .easyCustomerOrderStatusParent {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
}
.easySubscriptionSubscriptionModelIn .easySubscriptioneasyCustomerOrdersBox,
.easySubscriptionSubscriptionModelIn .easySubscriptioneasyCustomerOrdersBox .easySubscriptioneasyCustomerOrders,
.easySubscriptioneasyCustomerOrders .easyCustomerOrdersTable,
.easySubscriptioneasyCustomerOrders .easyCustomerOrdersTable .easyCustomerOrdersDataContent {
  position: relative;
  width: 100%;
}
.easySubscriptioneasyCustomerOrders .easyCustomerOrdersTable .easyCustomerOrdersDataHeader,
.easySubscriptioneasyCustomerOrders .easyCustomerOrdersTable .easyCustomerOrdersDataContent .easyCustomerOrdersDataContentRow {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}
.easySubscriptioneasyCustomerOrders .easyCustomerOrdersTable .easyCustomerOrdersDataHeader .easyCustomerOrdersHead,
.easySubscriptioneasyCustomerOrders .easyCustomerOrdersTable .easyCustomerOrdersDataContent .easyCustomerOrdersDataContentRow .easyCustomerOrdersDataTableBox {
  position: relative;
  width: 100%;
  max-width: 25%;
  box-sizing: border-box;
  padding: 15px;
  line-height: 1em;
  font-weight: 600;
  background-color: #fff;
}
.easySubscriptioneasyCustomerOrders .easyCustomerOrdersTable .easyCustomerOrdersDataContent .easyCustomerOrdersDataContentRow .easyCustomerOrdersDataTableBoxRow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.easySubscriptioneasyCustomerOrders .easyCustomerOrdersTable .easyCustomerOrdersDataContent .easyCustomerOrdersDataContentRow .easyCustomerOrdersDataTableBoxRow {
  border-top: 1px solid #eee;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.easySubscriptioneasyCustomerOrders .easyCustomerOrdersTable .easyCustomerOrdersDataContent .easyCustomerOrdersDataContentRow .easyCustomerOrdersDataTableBoxRow .easyCustomerOrdersDataTableBox {
  font-weight: 400;
}
.easySubscriptionSubscriptionModelIn .easyCustomerOrderStatusParent .easyCustomerSubscriptionStatusbtns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
}
.easySubscriptionWidgetModelInLineItems .easySubNotFound {
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
}

@media only screen and (max-width: 800px) {
  .easySubscriptionWidgetModel .easySubscriptionWidgetModelInner, .easySubscriptionWidgetIn .easySubscriptionSubscriptionModel .easySubscriptionSubscriptionModelInner{
    margin-top: 30px;
    margin-bottom: 30px;
    padding:15px;
  }
  .easySubscriptionWidgetModel .easySubscriptionWidgetModelInner .easySubscriptionWidgetModelInnerTitle, .easySubscriptionWidgetIn .easySubscriptionSubscriptionModel .easySubscriptionSubscriptionModelInner .easySubscriptionWidgetModelInnerTitle{
    flex-wrap: wrap;
  }
  .easySubscriptionWidgetModel .easySubscriptionWidgetModelInner .easySubscriptionWidgetModelInnerTitle h3.title, .easySubscriptionWidgetIn .easySubscriptionSubscriptionModel .easySubscriptionSubscriptionModelInner .easySubscriptionWidgetModelInnerTitle h3.title{
    order:2;
    display: block;
    padding-top: 15px;
    font-size: 20px;
    width: 100%;
  }
  .easySubscriptionWidgetModel .easySubscriptionWidgetModelInner .easySubscriptionWidgetModelInnerTitle, .easySubscriptionWidgetIn .easySubscriptionSubscriptionModel .easySubscriptionSubscriptionModelInner .easySubscriptionWidgetModelInnerTitle{
    padding-bottom: 15px;
  }
  .easySubscriptionWidgetModelIn .easySubscriptionWidgetModelInLineItems .easySubscriptionLineItems{
    padding: 15px;
  }
  .easySubscriptionWidgetModelIn .easySubscriptionWidgetModelInLineItems .easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsHead .easySubbscriptionTitle, .easySubscriptionSubscriptionModelInner .easyCustomerSubscriptionStatus .easySubbscriptionTitle{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
  }
  .easySubscriptionWidgetModelIn .easySubscriptionWidgetModelInLineItems .easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsHead .easySubbscriptionTitle > span,
  .easySubscriptionSubscriptionModelInner .easyCustomerSubscriptionStatus .easySubbscriptionTitle > span{
    margin-left: 0;
  } 
  .easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetails{
    flex-wrap: wrap; 
    gap:10px;
  }
  .easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetails .easySubscriptionWidgetModelInLineitemsDetailsIn:nth-child(1),
  .easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetails .easySubscriptionWidgetModelInLineitemsDetailsIn:nth-child(2),
  .easySubscriptionLineItems .easySubscriptionWidgetModelInLineitemsDetails .easySubscriptionWidgetModelInLineitemsDetailsIn{
    max-width: 100%;
    padding-right: 0;
  }
}
